@using MvcSeed.Web.Security
@{
    ViewBag.Title = "Index";
}

<div>
    <div class="topbar"><span>Index</span></div>
    <div class="avatar-box center"><img src="https://avatars.githubusercontent.com/u/4602172?v=3" /></div>
    <div class="greetings">Welcome <span>@CurrentContext.GetCurrentUser().UserName</span></div>
</div>
<span class="logout-btn"><a href="@Url.Action("Logout")">Logout</a></span>
