
@{
    ViewBag.Title = "Login";
}

<script type="text/javascript" src="/Scripts/libs/rsa/BigInt.js"></script>
<script type="text/javascript" src="/Scripts/libs/rsa/RSA.js"></script>
<script type="text/javascript" src="/Scripts/libs/rsa/Barrett.js"></script>
<script type="text/javascript">
    function pwdEncrypt() {
        setMaxDigits(130);
        var key = new RSAKeyPair("@ViewBag.strPublicKeyExponent", "", "@ViewBag.strPublicKeyModulus");
        console.log(key);
        var pwd = document.getElementById('password').value;
        var pwdRSA = encryptedString(key, pwd);
        document.getElementById('password').value = pwdRSA;
        return;
    }
</script>

<h2>Login</h2>

<form action="@Url.Action("LoginDo")" method="POST" onsubmit="return pwdEncrypt();">
    <div>用户名:<input type="text" name="UserName"/></div>
    <div>密码:<input id="password" type="password" name="Password"/></div>
    <div><input type="submit" value="登陆" /></div>
</form>
