@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="@Url.Action("LoginDo")" method="POST" onsubmit="return pwdEncrypt();">
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="username" name="UserName">
        <label class="mdl-textfield__label" for="username">UserName</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="password" id="password" name="Password">
        <label class="mdl-textfield__label" for="password">Password</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Login
    </button>
    <div><a href="https://github.com/login/oauth/authorize?client_id=b418a0c0efe60e558b64&scope=user,gist&state=mvcseed">Github登陆</a></div>
</form>

<script type="text/javascript" src="/Scripts/libs/rsa/BigInt.js"></script>
<script type="text/javascript" src="/Scripts/libs/rsa/RSA.js"></script>
<script type="text/javascript" src="/Scripts/libs/rsa/Barrett.js"></script>
<script type="text/javascript">
    function pwdEncrypt() {
        setMaxDigits(130);
        var key = new RSAKeyPair("@ViewBag.strPublicKeyExponent", "", "@ViewBag.strPublicKeyModulus");
        console.log(key);
        var pwd = document.getElementById('password').value;
        var pwdRSA = encryptedString(key, pwd);
        document.getElementById('password').value = pwdRSA;
        return;
    }
</script>