<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <connectionStrings>
    <add name="SchoolPalWrite" connectionString="server=192.168.5.203;port=3306;Initial Catalog=xiaobao_dev;user id=xiaobao_dev;password=123456;"/>
    <add name="SchoolPalRead" connectionString="server=192.168.5.203;port=3306;Initial Catalog=xiaobao_dev;user id=xiaobao_dev;password=123456;"/>
  </connectionStrings>
  <appSettings>
    <add key="ServerList" value="192.168.5.203:11211" />
    <add key="SessionExpireHours" value="12" />
    <add key="SessionCookieDomain" value="localhost" />
    <add key="SessionArea" value="MvcSeed-1.1" />
    <add key="CachedArea" value="MvcSeed-1.0" />
    
    <!-- log4net读取的配置文件 -->
    <add key="log4net.config" value="log4net.config" />
  </appSettings>
  <quartz>
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />
    <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.xml" />
  </quartz>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
